@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{ font-family: "Roboto";
    font-size: 4vw;
}

body{height: calc(100vh - 2em);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr  ;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr  .25fr ;
   grid-template-areas: "text text text text" " sieben acht neun plus " "vier fünf sechs minus"  "eins zwei drei mal"   "zero Wurzel geteilt gleich" " reset hoch2 nix nix";
   margin: 1em auto;
   width: 50%;
   grid-gap: .25em;
   
}

#textfeld{
    background-color: rgb(196, 192, 192);
    grid-area: text ;
    text-align: right;
    padding-right: 30px;
    padding-left: 30px;
    padding-bottom: 10px;
    padding-top: 10px ;
}
#one{
    grid-area: eins;
}
#two{
    grid-area: zwei;
}
#three{
    grid-area: drei;
}
#Mal{
    grid-area: mal;
}
#four{
    grid-area: vier;
}
#five{
    grid-area: fünf;
}
#six{
    grid-area: sechs;
}
#seven{
    grid-area: sieben;
}
#eight{
    grid-area: acht;
}
#nine{
    grid-area: neun;
}
#Zerro{
    grid-area: zero;
}
#gleich{
    grid-area: gleich;
}
#Plus{
    grid-area: plus;
}
#Minus{
    grid-area: minus;
}
#geteilt{
    grid-area: geteilt;
}
#Wurzel{
    grid-area: wurzel;
}
#reset{
    grid-area: reset ;
}
#hoch2{
    grid-area: hoch2 ;
}



.operator{
    background-color: slategrey;
}